#leftnav {
    height: calc(100% - 55px);
    width: 210px;
    margin-top: -20px;

    background-color: #f8f8f8;
    text-align: left;
}

a div {
    display: inline-block;
}

a img {
    width: 15px;
    height: 15px;
}

.table {
    width: calc(100% - 210px);
}

form {
    height: 95px;
    width: 840px;
    margin: 0 auto;

    text-align: center;
}

td {
    padding: 5px 5px;
}

#address {
    width: 445px;
}

.btn {
    border-radius: 4px;
    border-color: #c5bfbf;
    background-color: white;
}
.btn:hover {
    background-color: #c5bfbf;
}